.chatContainer {
    width:400px;
    margin: 0 auto;
    background-color: #dbeafe;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: fixed;
    z-index: 20;
    left: 150px;
    bottom: 80px;
  }
  .off{
    display: none;
  }
  .Chatbot img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
  .chatHeader {
    background-color: #2563eb;
    color: white;
    padding: 1rem;
  }
  .Chatbot figure{
    text-align: center;
    position: fixed;
    bottom: 70px;
    left: 30px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #026b0e;
    cursor: pointer;
    transition: 0.4s;
    font-weight: bolder;
  }
  .Chatbot figure:hover{
    opacity: 0.8;
    
  }
  .Chatbot figure:active{
    opacity: 1;
    height: 140px;
  }
  .messagesContainer {
    height: 300px;
    font-size: 13px;
    overflow-y: auto;
    padding: 1rem;
    background-color: rgb(192, 227, 242);
  }
  
  .message {
    max-width: 80%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .userMessage {
    background-color: #3a6297;
    color: white;
    margin-left: auto;
  }
  
  .botMessage {
    background-color: #f3f4f6;
    margin-right: auto;
  }
  
  .inputContainer {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 1rem;
  }
  
  .inputContainer input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
  }
  
  .inputContainer button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }