.contact{
  
    background:linear-gradient(45deg,rgb(30, 82, 39),rgba(98, 225, 87, 0.596),rgba(149, 231, 247, 0.716),rgb(110, 110, 243));
    display: flex;
    gap: 100px;
    align-items: flex-start;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    justify-content: space-around;
}

.contact form{
    display: flex;
    gap: 40px;
    width: 800px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(144, 148, 255, 0.745);
    padding: 40px;
    border-radius: 10px;    
}
.contact div{
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(227, 227, 247) ;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(30, 82, 39);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.contact button{
    align-self: center;
    width: 130px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(51, 95, 49);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border: none;
    transition: 0.3s;

}
.hcontact{
    background-color:  rgb(16, 93, 118);
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 20px;


    text-align: center;
    align-self: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
}
.contact button:hover{
    opacity: 0.8;
    box-shadow: 6px 6px 5px rgb(129, 185, 144);

}
.contact input{
    height: 30px;
}
.contact input,.contact textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    color: rgb(0, 22, 76);
    font-size: 22px;
    padding: 5px;
    margin-left: 6px;
    width: 75%;
    border: none;
    border-radius: 10px;
}
.contact iframe{
    border: 4px rgb(115, 115, 250) dashed;
    border-radius: 20px;
    align-self: center;
}
@media (max-width:900px) {
    .contact{
        flex-direction: column;
    }
    .contact form{
        width: 90%;
    }
}