.content{
    display: flex;
    align-items: center;
    align-self: center;

}
.left,.right{
    position: absolute;
    font-size: 25px;
    padding: 30px;
    border:none;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.181);
    cursor: pointer;
    color: white;
    transition: 0.3s;
}
.content img{

    width: 100%;

    border-radius: 30px;
}

.left:hover,.right:hover{
    background-color: rgba(0, 0, 0, 0.04);
}
.content ul {
    display: flex;
    position: absolute;
    bottom:0px;
    left: 48%;
    gap: 12px;
    list-style: none;
}
.selector{
    background-color: rgba(0, 0, 0, 0.415);
    border: none;
    width: 9px;
    border-radius: 100%;
    cursor: pointer;
    height: 9px;
    transition: 0.4s;
    position: relative;

}
.selector:hover{
    background-color: rgba(29, 29, 117, 0.344);
}
.selectora{
    background-color: white;
}
.right{

    right: 32px;
}
@media (orientation:portrait){
 .content ul{
    bottom: -300px;
 }
}